/.idea
/.git
/.github
/.env
/.gitignore
/docker-compose.yml
/Dockerfile
/icon.svg
/README.md
/helm
/src/phpunit.xml.dist
/src/.env.*
/src/bin/phpunit
/src/public/bundles
/src/public/build
/src/node_modules
/src/tests
/src/var
/src/vendor
